.advantages {

	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 10px;
		margin-top: 20px;

		@include md {
			display: flex;
			flex-wrap: wrap;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		gap: 15px;
		min-height: 300px;
		padding: 30px 20px;
		background: var(--bg-tertiary);
		border-radius: 10px;

		@include md {
			flex: 1 1 280px;
			min-height: auto;
		}

		@include xs {
			flex-basis: 240px;
		}
	}

	&__icon {
		display: flex;
		align-items: center;
		align-self: flex-end;
		width: 50px;
		height: auto;
		aspect-ratio: 1/1;
		overflow: hidden;

		@include xs {
			width: 40px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__label {
		margin-top: 20px;
		font-weight: 700;
		font-size: 20px;

		@include lg {
			font-size: 18px;
		}

		@include md {
			margin-top: 0;
		}

		@include xs {
			font-size: 16px;
		}
	}

	&__text {
		line-height: 1.3;
		letter-spacing: 0.28px;

		br {

			@include md {
				display: none;
			}
		}
	}
}
