@keyframes form-invalid {

	0% {
		transform: translateX(15px);
	}

	25% {
		transform: translateX(-15px);
	}

	50% {
		transform: translateX(15px);
	}

	75% {
		transform: translateX(-15px);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes spin {

	100% {
		transform: rotate(360deg);
	}
}

