.btn {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	padding: 15px 25px;
	color: var(--fc-light);
	font-weight: 700;
	font-family: var(--font-secondary);
	line-height: 1;
	text-align: left;
	text-decoration: none;
	background: var(--fc-dark);
	border: none;
	border-radius: 10px;
	transition: var(--transition);

	@include mouse {

		&:hover {
			transform: translateY(-3px);
		}
	}

	&--thic {
		position: relative;
		justify-content: start;
		min-height: 60px;
		padding: 10px 35px 10px 20px;
		line-height: 1.3;

		svg {
			position: absolute;
			right: 20px;
			bottom: 20px;
		}
	}

	&--square {
		position: relative;
		width: 65px;
		height: 60px;
		padding: 10px;
		color: var(--fc-dark);
		background: var(--bg-secondary);

		@include xs {
			width: 40px;
			height: 40px;
		}

		@include mouse {

			&:hover {
				color: var(--primary);
			}
		}

		svg {

			@include xs {
				width: 15px;
				height: auto;
			}
		}
	}

	&--thin {
		padding: 20px;
		color: var(--fc-dark);
		font-weight: 300;
		background: none;
		border: 1px solid #d9d9d9;

		@include mouse {

			&:hover {
				border-color: var(--primary);
			}
		}

		svg {
			color: var(--primary);
		}
	}

	&.hidden {
		display: none;
	}

	&__counter {
		position: absolute;
		top: 1px;
		right: 1px;
		display: none;
		place-content: center;
		width: 20px;
		height: auto;
		aspect-ratio: 1/1;
		padding: 4px;
		color: var(--fc-light);
		font-weight: 700;
		font-size: 10px;
		font-family: var(--font-primary);
		background: var(--fc-dark);
		border-radius: 50%;

		@include xs {
			top: -5px;
			right: -5px;
			font-size: 8px;
		}

		&.active {
			display: grid;
		}
	}
}

.btn-show-more {
	width: 100%;
	font-weight: 700;
	font-family: var(--font-secondary);
}

.btn-accordion {
	display: grid;
	place-content: center;
	flex-shrink: 0;
	width: 35px;
	height: auto;
	aspect-ratio: 1/1;
	color: var(--fc-light);
	background: var(--primary);
	border-radius: 10px;
	transition: var(--transition);

	@include xs {
		width: 30px;
	}
}

.btn-fav {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	padding: 0;
	color: var(--fc-dark);
	background: none;
	border: none;
	animation: fav-show 0.5s ease-out;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;

	@include mouse {

		&:hover {

			svg {
				color: var(--primary);
			}
		}
	}

	&--loading {

		svg {
			animation: heart-beat 1s ease infinite;
		}
	}

	&.active {

		&--loading {
			animation: heart-pulse 0.4s ease-out;
		}

		svg {
			color: var(--primary);
			fill: var(--primary);
		}
	}

	svg {
		flex-shrink: 0;
		color: var(--fc-dark);
		transition: var(--transition);
		fill: none;
	}
}

.btn-play {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 0;
	color: var(--secondary);
	background: none;
	border: none;
	transform: translate(-50%, -50%);
}
