.input {
	width: 100%;
	min-height: 50px;
	padding: 15px;
	color: var(--fc-dark);
	background: var(--bg-secondary);
	border: 1px solid #d9d9d9;
	border-radius: 10px;
	outline: none;
	transition: var(--transition);

	&:hover,
	&:focus {
		border-color: var(--fc-dark);
		outline: none;
	}

	&:user-invalid {
		border-color: var(--primary) !important;
	}
}

.checkbox {
	display: flex;
	gap: 10px;

	&__input {
		display: none;
		appearance: none;
	}

	&__switcher {
		position: relative;
		flex-shrink: 0;
		width: 30px;
		height: 15px;
		background: var(--bg-secondary);
		border-radius: 15px;
		cursor: pointer;
		transition: var(--transition);

		&::before {
			position: absolute;
			top: 1px;
			left: 1px;
			width: 13px;
			height: 13px;
			background: var(--bg-primary);
			border-radius: 50%;
			transition: var(--transition);
			content: "";
		}
	}

	&__text {
		line-height: 1.2;

		a {
			@include ui-link(var(--fc-dark));
		}
	}

	&__input:checked + &__switcher {
		background: var(--secondary);
	}

	&__input:checked + &__switcher::before {
		left: 16px;
	}
}

.radio,
.square-checkbox {
	display: flex;
	gap: 8px;
	align-items: center;

	@include mouse {

		&:hover {

			.radio__switcher,
			.square-checkbox__switcher {
				border-color: var(--primary);
			}
		}
	}

	&__input {
		display: none;
		appearance: none;
	}

	&__switcher {
		position: relative;
		flex-shrink: 0;
		width: 16px;
		height: 16px;
		background: var(--bg-primary);
		cursor: pointer;
		transition: var(--transition);
	}

	&__text {

		span {
			color: var(--fc-gray);
			line-height: 1;
		}
	}
}

.radio {

	&__switcher {
		border: 1px solid var(--fc-gray);
		border-radius: 50%;

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 8px;
			height: 8px;
			background: var(--primary);
			border-radius: 50%;
			transform: translate(-50%, -50%) scale(0);
			visibility: hidden;
			transition: var(--transition);
			content: "";
		}
	}

	&__input:checked + &__switcher::before {
		transform: translate(-50%, -50%) scale(1);
		visibility: visible;
	}
}

.square-checkbox {

	&__switcher {
		border: 1px solid var(--fc-gray);
		border-radius: 3px;

		&::before {
			position: absolute;
			top: 45%;
			left: 50%;
			width: 8px;
			height: 5px;
			border-bottom: 2px solid var(--fc-light);
			border-left: 2px solid var(--fc-light);
			transform: translate(-50%, -50%) rotate(-45deg);
			visibility: hidden;
			opacity: 0;
			content: "";
		}
	}

	&__input:checked + &__switcher {
		background: var(--primary);
		border: 1px solid var(--primary);
	}

	&__input:checked + &__switcher::before {
		visibility: visible;
		opacity: 1;
	}
}
