.header {
	padding-top: 20px;

	@include sm {
		padding-top: 10px;
		overflow: hidden;
	}

	&__container {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: 30px 10px;
		align-items: center;

		@include lg {
			grid-template-columns: repeat(5, 1fr);
		}

		@include md {
			grid-template-columns: 200px 1fr auto;
		}

		@include sm {
			gap: 10px 5px;
			overflow: visible;
		}

		@include xs {
			grid-template-columns: auto 1fr auto;
			gap: 15px 5px;
		}
	}

	&__cities {
		display: flex;
		gap: 5px;
		align-items: center;

		svg {
			color: var(--primary);
		}
	}

	&__menu {
		display: flex;
		flex-wrap: wrap;
		grid-column: span 3;
		gap: 10px;
		align-items: center;
		justify-content: space-between;
		transition: var(--transition);

		@include md {
			display: none;
		}

		.menu-item {
			color: var(--fc-gray);
			transition: var(--transition);

			@include mouse {

				&:hover {
					color: var(--fc-dark);
				}

				&:active {
					opacity: 0.8;
				}
			}

			a {
				text-decoration: none;
			}
		}

		.current-menu-item {
			color: var(--primary);
		}
	}

	&__user {
		display: flex;
		grid-column: -2/-1;
		gap: 25px;
		align-items: center;
		justify-content: flex-end;
	}

	&__user-link {
		display: flex;
		gap: 5px;
		align-items: center;
		padding: 0;
		line-height: 1;
		text-decoration: none;
		background: none;
		border: none;

		@include mouse {

			&:hover {
				color: var(--primary);
			}
		}

		svg {
			color: var(--primary);
		}
	}

	&__catalog-btn {
		display: block;
		line-height: 1;
		background: var(--tertiary);

		@include xs {
			min-height: 40px;
			padding: 10px 15px;
		}

		&.active {
			background: var(--fc-dark);

			.header__catalog-btn-open-text {
				display: none;
			}

			.header__catalog-btn-close-text {
				display: flex;
			}
		}
	}

	&__catalog-btn-open-text {

		span,
		svg {

			@include xs {
				display: none;
			}
		}
	}

	&__catalog-btn-close-text {
		display: none;
		gap: 10px;
		align-items: center;
		justify-content: center;

		span {
			position: relative;
			display: block;
			width: 12px;
			height: 12px;

			@include xs {
				display: none;
			}

			&::before,
			&::after {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100%;
				height: 2px;
				background: var(--primary);
				border-radius: 4px;
				content: "";
			}

			&::before {
				transform: translate(-50%, -50%) rotate(45deg);
			}

			&::after {
				transform: translate(-50%, -50%) rotate(-45deg);
			}
		}
	}

	&__search-modal {
		display: none;

		@include sm {
			display: flex;
			justify-self: end;
		}
	}

	&__search {
		grid-column: span 3;

		@include lg {
			grid-column: span 2;
		}

		@include md {
			grid-column: auto;
		}

		@include sm {
			display: none;
			width: 100%;
			max-width: 500px;
			padding: 40px 10px 10px;
		}

		.carousel__button.is-close {

			@include sm {
				top: 0;
				right: 0;
				color: var(--fc-dark);
			}
		}
	}

	&__search-form {
		position: relative;
	}

	&__search-input {
		width: 100%;
		min-height: 60px;
		padding: 20px 20px 20px 50px;
		color: var(--fc-dark);
		background: var(--bg-secondary);
		border: 1px solid transparent;
		border-radius: 10px;
		outline: none;
		transition: var(--transition);

		@include sm {
			padding: 20px 70px 20px 20px;
		}

		&:hover,
		&:focus {
			border-color: var(--fc-dark);
			outline: none;
		}
	}

	&__search-btn {
		position: absolute;
		top: 50%;
		left: 15px;
		background: none;
		border: none;
		transform: translateY(-50%);

		@include sm {
			top: 5px;
			right: 5px;
			left: auto;
			width: auto;
			height: calc(100% - 10px);
			aspect-ratio: 1/1;
			color: var(--fc-light);
			background: var(--fc-dark);
			border-radius: 10px;
			transform: none;
		}
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		margin-left: 20px;

		@include lg {
			align-items: center;
		}

		@include md {
			display: none;
		}
	}

	&__tel,
	&__callback,
	&__email {
		line-height: 1;
		text-decoration: none;
		cursor: pointer;
		transition: var(--transition);

		@include mouse {

			&:hover {
				color: var(--primary);
			}
		}
	}

	&__tel {
		font-size: 16px;
		font-family: var(--font-secondary);

		@include lg {
			font-size: 14px;
		}
	}

	&__callback {
		margin-top: 5px;
		padding: 0;
		font-family: var(--font-secondary);
		text-align: left;
		background: none;
		border: none;
	}

	&__email {
		display: flex;
		gap: 5px;
		align-items: center;
		margin-top: 10px;
		color: #7fe2e2;
		font-weight: 700;
		font-size: 10px;
	}

	&__buttons {
		display: flex;
		gap: 5px;
		align-items: center;
		justify-content: flex-end;
	}

	&__burger {
		display: none;
		padding: 0;
		overflow: hidden;
		border: none;

		@include md {
			display: flex;
		}

		&.active {

			span {
				background: transparent;
				transition-delay: 0.25s;
				transition-duration: 0.1s;

				&::before,
				&::after {
					top: 0;
					width: 100%;
					background-color: var(--fc-dark);
					transform: rotateZ(-45deg);
					transition: top 0.4s, transform 0.25s 0.25s;
				}

				&::before {
					transform: rotateZ(45deg);
				}
			}
		}

		span {
			position: relative;
			display: block;
			width: 25px;
			height: 2px;
			background: var(--fc-dark);
			border-radius: 2px;
			transition-delay: 0.25s;
			transition-duration: 0.25s;
			pointer-events: none;

			&::before,
			&::after {
				position: absolute;
				left: 0;
				width: 100%;
				height: 2px;
				background: var(--fc-dark);
				border-radius: 2px;
				content: "";
			}

			&::before {
				top: -6px;
				transition: width 0.25s, transform 0.25s, top 0.25s 0.25s;
				transition-duration: 0.25s;
			}

			&::after {
				top: 6px;
				transition: width 0.25s, transform 0.25s, top 0.25s .25s;
				transition-duration: 0.25s;
			}
		}
	}

	&__catalog {
		display: none;
		flex-direction: column;
		grid-column: 1/-1;
		gap: 30px;
		height: 775px;
		overflow: hidden;
		transition: var(--transition);

		@include sm {
			gap: 20px;
			height: 600px;
			overflow: visible;
		}

		&.active {
			display: flex;
		}
	}

	&__catalog-wrapper {
		display: flex;
		flex-direction: column;
		gap: 10px;
		overflow: hidden;

		@include sm {
			overflow: visible;
		}

		&--cats {
			height: calc(100% - 180px);
			border-bottom: 1px solid #d9d9d9;

			@include sm {
				height: calc(100% - 160px);
			}

			@include xs {
				height: calc(100% - 155px);
			}
		}
	}

	&__catalog-title {
		font-size: 24px;
		font-family: var(--font-secondary);
		line-height: 1.3;
		text-transform: uppercase;

		@include hg {
			font-size: 22px;
			line-height: 1.15;
		}

		@include sm {
			font-size: 20px;
		}

		@include xs {
			font-size: 18px;
		}
	}

	&__cats {
		position: relative;
		display: grid;
		grid-template-columns: 1fr 2fr;
		height: calc(100% - 40px);
		padding-bottom: 60px;

		@include hg {
			height: calc(100% - 35px);
			padding-bottom: 30px;
		}

		@include md {
			grid-template-columns: 1fr 1fr;
		}

		@include xs {
			grid-template-columns: 1fr;
			height: calc(100% - 25px);
		}

		&::before {
			position: absolute;
			top: 0;
			left: 33.3%;
			width: 1px;
			height: calc(100% + 1px);
			background: #d9d9d9;
			content: "";

			@include md {
				left: 50%;
			}

			@include xs {
				display: none;
			}
		}
	}

	&__cats-list {

		&--level-0 {
			display: flex;
			flex-direction: column;
			gap: 10px;
			margin-right: 10px;
			padding-right: 40px;
			overflow: auto;

			@include lg {
				padding-right: 20px;
			}

			@include xs {
				margin-right: 0;
			}
		}

		&--level-1 {
			position: absolute;
			top: 0;
			right: 0;
			display: none;
			grid-auto-rows: min-content;
			grid-template-columns: 1fr 1fr;
			gap: 20px 30px;
			width: 66.6%;
			height: calc(100% - 60px);
			padding: 15px 50px 0;
			overflow: auto;

			@include hg {
				height: calc(100% - 30px);
			}

			@include lg {
				gap: 15px 20px;
				padding: 15px 30px 0;
			}

			@include md {
				left: 50%;
				grid-template-columns: 1fr;
				gap: 15px;
				width: 50%;
			}

			@include xs {
				position: static;
				display: grid;
				width: 100%;
				height: auto;
				max-height: 0;
				padding: 0 0 0 50px;
				overflow: hidden;
				transition: var(--transition);
			}
		}

		&--level-2 {
			display: flex;
			flex-direction: column;
			gap: 10px;
			margin-top: 10px;
			padding-left: 20px;
			list-style: disc;

			@include md {
				gap: 5px;
				margin-top: 5px;
			}

			::marker {
				color: var(--primary);
			}
		}

		&::-webkit-scrollbar {
			width: 4px;
		}

		&::-webkit-scrollbar-thumb {
			background: var(--primary);
			border-radius: 10px;
		}

		&::-webkit-scrollbar-track {
			background: var(--bg-secondary);
			border-radius: 10px;
		}

		&::-webkit-scrollbar-corner {
			background: transparent;
		}

		@-moz-document url-prefix() {
			scrollbar-color: var(--primary) var(--bg-secondary);
		}
	}

	&__cats-item {

		&--level-1 {
			height: fit-content;
		}
	}

	&__cats-item-button {
		display: grid;
		grid-template-columns: 1fr auto;
		gap: 15px;
		align-items: center;
		width: 100%;
		padding: 0;
		background: none;
		border: none;
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
		-webkit-tap-highlight-color: transparent;

		@include mouse {

			&:hover:not(:has(.header__cats-item-link:hover)) {

				svg {
					color: var(--primary);
					transform: rotate(-90deg);
				}
			}
		}

		&.active {

			svg {
				color: var(--primary);
				transform: rotate(-90deg);

				@include xs {
					transform: rotate(-180deg);
				}
			}

			+ .header__cats-list--level-1 {
				display: grid;

				@include xs {
					margin-top: 10px;
				}
			}
		}

		svg {
			width: 15px;
			height: auto;
			transition: var(--transition);
			pointer-events: none;
		}
	}

	&__cats-item-link {
		display: flex;
		gap: 15px;
		align-items: center;
		width: fit-content;
		text-align: left;
		text-decoration: none;
		transition: var(--transition);

		@include mouse {

			&:hover {
				color: var(--primary);
			}
		}

		&--level-0 {
			font-weight: 700;
			font-size: 18px;

			@include lg {
				font-size: 16px;
			}
		}

		&--level-1 {
			font-weight: 700;
			font-size: 16px;

			@include lg {
				font-size: 14px;
			}
		}

		&.current {
			color: var(--primary);
			cursor: default;
		}
	}

	&__cats-item-img {
		display: flex;
		flex-shrink: 0;
		align-items: center;
		width: 50px;
		height: auto;
		padding: 10px;
		aspect-ratio: 1/1;
		overflow: hidden;
		background: var(--bg-tertiary);
		border-radius: 50%;

		@include sm {
			width: 35px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__catalog-brands {
		height: 105px;
	}

	&__small-cats {
		display: grid;
		grid-column: 1/-1;
		grid-template-columns: repeat(8, 1fr) auto;
		gap: 10px 40px;
		align-items: center;
		min-height: 60px;
		margin-top: -20px;
		padding: 10px;
		border: 1px solid var(--secondary);
		border-radius: 10px;

		@include hg {
			grid-template-columns: repeat(7, 1fr) auto;
		}

		@include lg {
			grid-template-columns: repeat(5, 1fr) auto;
		}

		@include md {
			grid-template-columns: repeat(4, 1fr) auto;
		}

		@include sm {
			grid-template-columns: repeat(3, 1fr) auto;
			gap: 10px 20px;
			margin-top: 0;
		}

		@include to(640px) {
			grid-template-columns: repeat(2, 1fr) auto;
		}

		@include xs {
			grid-template-columns: 1fr 1fr;
			min-height: 40px;
		}
	}

	&__small-cat {
		display: flex;
		gap: 5px;
		align-items: center;
		justify-content: center;
		font-weight: 600;
		text-decoration: none;
		transition: var(--transition);

		@include sm {
			justify-content: flex-start;
		}

		@include mouse {

			&:hover {
				color: var(--primary);
			}
		}

		&.hidden {
			display: none;
		}

		img {
			flex-shrink: 0;
			width: 20px;
			height: 20px;
			object-fit: contain;
		}
	}

	&__small-cat-button {
		display: flex;
		align-items: stretch;
		justify-content: center;
		width: min-content;
		padding: 10px 15px;
		font-weight: 600;
		background: var(--bg-secondary);
		border: none;
		border-radius: 10px;
		transition: var(--transition);

		@include xs {
			justify-self: end;
		}

		@include mouse {

			&:hover {
				color: var(--primary);
			}
		}

		&.active {

			@include xs {
				justify-self: start;
			}
		}

		&.hidden {
			display: none;
		}
	}
}
