.main-border {
	position: relative;
	border: 1px solid var(--main-border-color);
	border-radius: 10px;
	transition: var(--transition);
	transition: border-color 0.3s ease;

	&::after {
		position: absolute;
		top: 0;
		left: -2px;
		width: calc(100% + 4px);
		height: 100%;
		background: var(--main-border-background-color);
		content: "";
		clip-path: margin-box polygon(0 15px, 4px 15px, 4px 25px, 0 25px, 0 calc(100% - 25px), 4px calc(100% - 25px), 4px calc(100% - 15px), 0 calc(100% - 15px), 0 0, 100% 0, 100% 15px, calc(100% - 4px) 15px, calc(100% - 4px) 25px, 100% 25px, 100% calc(100% - 25px), calc(100% - 4px) calc(100% - 25px), calc(100% - 4px) calc(100% - 15px), 100% calc(100% - 15px), 100% 0, 0 0);
		pointer-events: none;
	}

	&--brackets {

		&::after {
			clip-path: margin-box polygon(0 15px, 4px 15px, 4px calc(100% - 15px), 0 calc(100% - 15px), 0 0, 100% 0, 100% 15px, calc(100% - 4px) 15px, calc(100% - 4px) calc(100% - 15px), 100% calc(100% - 15px), 100% 0, 0 0);
		}
	}

	&--half {
		border-top: none;
		border-top-left-radius: 0;
		border-top-right-radius: 0;

		&::after {
			top: -1px;
			clip-path: margin-box polygon(4px 0, 4px calc(100% - 16px), 0 calc(100% - 16px), 0 0, calc(100% - 4px) 0, calc(100% - 4px) calc(100% - 16px), 100% calc(100% - 16px), 100% 0);
		}
	}

	&--hover {

		@include mouse {

			&:hover {
				border-color: var(--primary);
			}
		}
	}
}
