.not-found {

	&__container {
		display: grid;
		grid-template-columns: 440px auto 1fr;

		@include lg {
			grid-template-columns: 1fr auto 1fr;
		}

		@include md {
			grid-template-columns: auto 1fr;
			gap: 40px 20px;
		}

		@include sm {
			grid-template-columns: 2fr 3fr;
		}

		@include xs {
			grid-template-columns: 1fr;
			gap: 20px;
		}
	}

	&__content,
	&__code {
		margin-top: 75px;

		@include lg {
			margin-top: 60px;
		}

		@include md {
			margin-top: 0;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 20px;
		width: 100%;
		max-width: 450px;

		@include md {
			order: 1;
			max-width: none;
		}

		@include xs {
			gap: 10px;
		}
	}

	&__title {
		margin-bottom: 0;
		font-weight: 400;
		font-size: 24px;
		font-family: var(--font-secondary);
		text-transform: uppercase;

		@include hg {
			font-size: 22px;
		}

		@include sm {
			font-size: 20px;
		}

		@include xs {
			font-size: 18px;
		}
	}

	&__text {
		line-height: 1.2;
		letter-spacing: 0.28px;
	}

	&__link {
		width: 100%;
		max-width: 220px;
		font-weight: 300;
	}

	&__img {
		width: 100%;
		max-width: 380px;
		height: auto;

		@include lg {
			max-width: 300px;
		}

		@include md {
			grid-row: span 2;
			max-width: 400px;
		}

		@include sm {
			align-self: center;
			max-width: none;
		}

		@include xs {
			display: none;
		}
	}

	&__code {
		width: calc(100% + 40px);
		height: auto;
		margin-left: -40px;

		@include lg {
			width: 100%;
			margin-left: 0;
		}

		@include md {
			align-self: end;
		}

		@include xs {
			max-width: 400px;
		}
	}
}
