.product-card {
	display: flex;
	flex-direction: column;
	gap: 5px;
	height: auto;
	padding: 10px 20px 20px;

	@include lg {
		padding: 20px 10px;
	}

	&--large {
		--main-border-color: var(--fc-light-gray);

		display: grid;
		grid-template-columns: 240px 1fr 220px;
		gap: 20px 40px;
		align-items: center;
		padding: 10px;

		@include lg {
			grid-template-columns: 180px 1fr 160px;
			gap: 20px;
			padding: 10px;
		}

		@include sm {
			grid-template-columns: 1fr 200px;
		}

		@include xs {
			display: flex;
			flex-direction: column;
			gap: 5px;
			align-items: stretch;
			padding: 20px 10px;
		}

		.product-card__fav {
			display: none;

			@include xs {
				display: block;
			}
		}

		.product-card__img {
			padding-right: 40px;
			border-right: 1px solid var(--fc-light-gray);

			@include lg {
				padding-right: 20px;
			}

			@include sm {
				padding-right: 0;
				border-right: none;
			}
		}

		.product-card__info {

			@include sm {
				grid-column: span 2;
				order: 1;
			}

			@include xs {
				order: 0;
			}
		}

		.product-card__link {
			order: -1;
			margin-top: 0;

			@include xs {
				order: 0;
			}
		}

		.product-card__attributes {
			flex-grow: 0;
		}

		.product-card__commerce {
			display: grid;
			grid-template-columns: 1fr auto;
			gap: 15px 30px;
			align-items: center;
			justify-content: stretch;
			height: 100%;
			margin-top: 0;
			padding: 20px;
			background: var(--bg-tertiary);
			border-radius: 10px;

			@include lg {
				padding: 10px;
			}

			@include xs {
				display: flex;
				gap: 15px;
				align-items: flex-end;
				justify-content: space-between;
				width: 100%;
				margin-top: 15px;
				padding: 0;
				background: none;
			}
		}

		.product-card__commerce-buttons {
			display: flex;

			@include xs {
				display: none;
			}
		}

		.product-card__buttons {
			grid-column: span 2;
			align-self: end;
		}

		.product-card__add-to-cart {

			&--variable {
				width: 100%;
			}
		}
	}

	&__flashes {
		position: absolute;
		top: 10px;
		left: 10px;
		z-index: var(--ui-index-1);
		display: flex;
		flex-direction: column;
		gap: 5px;
		width: 50px;
		height: auto;
	}

	&__flash {
		display: grid;
		place-content: center;
		width: 100%;
		min-height: 30px;
		padding: 5px;
		color: var(--fc-light-gray);
		font-weight: 700;
		font-size: 10px;
		line-height: 1;
		background: var(--bg-primary);
		border: 1px solid var(--fc-light-gray);
		border-radius: 10px;

		&--sale {
			color: var(--primary);
			border-color: var(--primary);
		}
	}

	&__fav {
		position: absolute;
		top: 20px;
		right: 20px;
		padding: 0;
		background: none;
		border: none;

		@include lg {
			right: 10px;
		}
	}

	&__img {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 180px;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		gap: 5px;
	}

	&__brand,
	&__sku {
		font-weight: 700;
		font-size: 12px;
	}

	&__brand {
		@include ui-link(#015397);
	}

	&__sku {
		color: var(--secondary);
	}

	&__link {
		display: block;
		margin-top: 5px;
		font-weight: 700;
		@include ui-link(var(--fc-dark));
	}

	&__attributes {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		gap: 5px;
		justify-content: center;
		margin-top: 10px;
	}

	&__attribute {
		position: relative;
		display: flex;
		gap: 10px;
		justify-content: space-between;
		padding-left: 15px;

		&::before {
			position: absolute;
			top: 5px;
			left: 0;
			width: 5px;
			height: 5px;
			background: var(--fc-gray);
			border-radius: 50%;
			content: "";
		}
	}

	&__attribute-values {
		font-weight: 600;
		text-align: right;
	}

	&__commerce {
		display: flex;
		gap: 15px;
		align-items: flex-end;
		justify-content: space-between;
		margin-top: 15px;
	}

	&__price {
		display: flex;
		flex-direction: column;
		font-family: var(--font-secondary);

		del {
			color: var(--fc-gray);
			font-size: 12px;
		}

		ins {
			font-size: 18px;
			text-decoration: none;
		}

		&--variable {
			display: block;
		}
	}

	&__commerce-buttons {
		display: none;
	}

	&__buttons {
		display: flex;
		flex-wrap: wrap;
		gap: 5px;
		align-items: center;
		justify-content: flex-end;
	}
}
