.reviews {

	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 10px;
		margin-top: 40px;

		@include lg {
			grid-template-columns: repeat(3, 1fr);
		}

		@include md {
			grid-template-columns: repeat(2, 1fr);
			gap: 20px;
		}

		@include sm {
			gap: 10px;
			margin-top: 20px;
		}

		@include xs {
			grid-template-columns: 1fr;
		}
	}

	&__btn {
		margin: 30px auto 0;

		@include xs {
			margin: 20px auto 0;
		}
	}
}
