.review-slider {
	overflow: hidden;

	&__cats {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		align-items: center;
		margin-top: 40px;

		@include hg {
			margin-top: 20px;
		}
	}

	&__cat {
		width: fit-content;
		min-height: 54px;
		padding: 15px 60px;
		border-color: var(--secondary);
		cursor: pointer;

		@include sm {
			min-height: auto;
			padding: 10px 20px;
		}

		&.active {
			border-color: var(--primary);
			cursor: default;
		}
	}

	&__slider {
		position: relative;
		display: none;
		margin-top: 40px;
		padding: 0 60px;

		@include hg {
			padding: 0 45px;
		}

		@include sm {
			margin-top: 20px;
			padding: 0;
		}

		&.active {
			display: block;
		}
	}

	&__swiper {

		@include sm {
			overflow: visible;
		}
	}

	&__item {

		@include sm {
			width: 100%;
			max-width: 330px;
		}

		@include xs {
			max-width: 280px;
		}
	}

	&__pagination {
		display: none;

		@include sm {
			display: flex;
		}
	}

	&__controls {

		@include sm {
			display: none;
		}
	}
}
