.woocommerce {

	&__price {
		display: flex;
		flex-direction: column;
		font-family: var(--fonr-secondary);

		.price {
			display: flex;
			flex-direction: column;
		}

		del {
			color: var(--fc-gray);
			font-size: 12px;

			bdi {
				font-size: 12px;
			}
		}

		ins,
		bdi {
			font-size: 24px;
			text-decoration: none;
		}
	}

	.loader {

		&::before {
			background: url(assets/images/icon-loading.svg) no-repeat center center;
		}
	}

	.blockUI.blockOverlay {
		background: rgba(#fff, 0.3) !important;
		opacity: 1 !important;

		&::before {
			background: url(assets/images/icon-loading.svg) no-repeat center center;
		}
	}

	.woocommerce-error,
	.woocommerce-message,
	.woocommerce-info {
		display: flex;
		flex-direction: column;
		gap: 15px;
		justify-content: space-between;
		margin: 0 0 30px;
		padding: 20px 20px 20px 50px;
		color: var(--fc-dark);
		background: var(--bg-tertiary);
		border-radius: 10px;

		@include xs {
			gap: 10px;
			padding: 35px 10px 20px;
			font-size: 12px;
		}

		&::before {
			top: 20px;
			color: var(--primary);

			@include xs {
				top: 10px;
				left: 10px;
			}
		}

		&::after {
			display: none;
		}

		li {
			color: var(--fc-dark);
		}

		.button {
			display: flex;
			align-items: center;
			width: fit-content;
			padding: 10px 20px;
			color: var(--fc-light);
			font-weight: 700;
			font-size: 12px;
			line-height: 1;
			text-align: center;
			text-decoration: none;
			background: var(--fc-dark);
			border: none;
			border-radius: 10px;
			transition: var(--transition);

			@include xs {
				font-size: 10px;
			}

			@include mouse {

				&:hover {
					transform: translateY(-3px);
				}
			}
		}
	}

	.woocommerce-error {
		border-color: var(--primary);

		&::before {
			color: var(--primary);
		}
	}

	.woocommerce-message {
		border-color: #57e250;

		&::before {
			color: #57e250;
		}
	}

	.woocommerce-info {
		border-color: var(--tertiary);

		&::before {
			color: var(--tertiary);
		}
	}

	.woocommerce-variation {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.star-rating {
		float: none;
		width: 80px;
		height: 15px;

		&::before {
			color: var(--primary);
		}

		span {
			float: none;

			&::before {
				color: var(--primary);
			}
		}
	}

	.woocommerce-widget-layered-nav-list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 6px 20px;
		max-height: 220px;
		overflow: auto;

		@include lg {
			grid-template-columns: 1fr;
		}

		&::-webkit-scrollbar {
			width: 4px;
		}

		&::-webkit-scrollbar-thumb {
			background: var(--primary);
			border-radius: 10px;
		}

		&::-webkit-scrollbar-track {
			background: var(--bg-secondary);
			border-radius: 10px;
		}

		&::-webkit-scrollbar-corner {
			background: transparent;
		}

		@-moz-document url-prefix() {
			scrollbar-color: var(--primary) var(--bg-secondary);
		}

		.woocommerce-widget-layered-nav-list__item {
			display: flex;
			gap: 8px;
			align-items: center;
			line-height: 1;

			&::before,
			&::after {
				display: none;
			}

			a {
				text-decoration: none;

				&::before {
					display: none;
				}
			}
		}
	}

	.widget_price_filter {

		.price_slider_wrapper {

			.ui-slider {
				height: 3px;
				background-color: var(--bg-secondary);
				border-radius: 0;

				.ui-slider-range,
				.ui-slider-handle {
					background-color: var(--primary);
				}

				.ui-slider-handle {
					top: 50%;
					width: 16px;
					height: 16px;
					transform: translateY(-50%);

					&::before {
						position: absolute;
						top: 50%;
						left: 50%;
						width: 60%;
						height: 60%;
						background: var(--bg-primary);
						border-radius: 50%;
						transform: translate(-50%, -50%);
						content: "";
					}
				}
			}

			.price_slider_amount {
				display: flex;
				flex-direction: column;
				gap: 10px;
				margin-top: 20px;

				.button {
					float: none;
					min-height: 50px;
					color: var(--fc-dark);
					font-weight: 600;
					font-size: 14px;
					background: var(--bg-secondary);
					border-radius: 10px;
				}

				.price_label {
					order: -1;
					color: var(--fc-grey);
					font-size: 14px;
					line-height: 1;
					text-align: center;
				}

				.clear {
					display: none;
				}
			}
		}
	}

	.woocommerce-ordering {
		margin: 0;
	}

	a.button.product-card__add-to-cart {
		display: grid;
		place-content: center;
		width: 50px;
		height: auto;
		aspect-ratio: 1/1;
		padding: 15px;
		overflow: hidden;
		color: var(--fc-light);
		font-size: 12px;
		background: var(--fc-dark);
		border-radius: 10px;
		transition: var(--transition);

		&--variable {
			width: fit-content;
			aspect-ratio: unset;
		}

		&.loading {

			&::after {
				top: 50%;
				right: auto;
				left: 50%;
				translate: -50% -50%;
				font-size: 18px;
			}
		}

		&.added {
			background: var(--primary);

			&::after {
				position: absolute;
				top: 46%;
				left: 52%;
				margin: 0;
				font-size: 5px;
				transform: translate(-50%, -50%);
			}
		}
	}

	a.added_to_cart {
		display: grid;
		place-content: center;
		width: fit-content;
		height: auto;
		padding: 15px;
		overflow: hidden;
		color: var(--fc-light);
		font-weight: 700;
		font-size: 12px;
		line-height: 1;
		text-decoration: none;
		background: var(--fc-dark);
		border-radius: 10px;
		transition: var(--transition);
	}

	table.shop_table {
		margin: 0;
		border: 1px solid var(--fc-gray);
		border-radius: 10px;

		&.account__order-table {
			border-color: var(--fc-gray);
		}

		thead,
		tbody,
		tfoot {

			th,
			td {
				border-color: var(--fc-gray);

				@include xs {
					padding: 10px;
				}

				&:nth-child(2) {
					border-left: 1px solid var(--fc-gray);
				}
			}
		}

		td.product-name {

			.attributes {

				&__item {

					@include xs {
						flex-direction: column;
						gap: 5px;
						align-items: center;
						justify-content: center;
						padding: 5px;
						text-align: center;
					}
				}
			}

			.wc-item-meta {
				margin: 0;
				padding: 0;
			}
		}
	}

	.woocommerce-billing-fields::before {
		display: none;
	}

	.woocommerce-billing-fields::after {
		display: none;
	}

	form {

		.form-row {
			margin: 0;
			padding: 0;

			&::before,
			&::after {
				display: none;
			}

			&.form-row-first,
			&.form-row-last {
				float: none;
				width: 100%;
			}

			label {

				@include xs {
					line-height: 1.3;
				}
			}

			.required {
				color: var(--primary);
			}
		}

		.form-row.woocommerce-validated {

			.select2-container,
			input.input-text,
			select {
				border-color: #57e250;
			}
		}

		.form-row.woocommerce-invalid {

			.select2-container,
			input.input-text,
			select {
				border-color: var(--primary);
			}

			label {
				color: var(--primary);
			}
		}

		.password-input {
			display: flex;
			flex-direction: column;
			gap: 10px;

			@include xs {
				gap: 5px;
			}

			.show-password-input {
				top: 25px;
				right: 15px;
				transform: translateY(-50%);
				-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
				-webkit-tap-highlight-color: transparent;

				&::after {
					display: block;
					width: 20px;
					height: 20px;
					background: url(assets/images/icon-hide-password.svg) 50% / contain;
					content: "";

					@include sm {
						width: 15px;
						height: 15px;
					}
				}

				&.display-password {

					&::after {
						background-image: url(assets/images/icon-show-password.svg);
					}
				}
			}

			.woocommerce-password-strength {
				border-radius: 10px;
			}
		}
	}

	#payment {
		background: none;

		div.payment_box {
			padding: 1.5em 1em;
			background: var(--bg-secondary);
			border-radius: 10px;

			&::before {
				border-bottom-color: var(--bg-secondary);
			}

			p {
				color: var(--fc-dark);
			}
		}

		ul.payment_methods {
			padding: 0;
			border: none;
		}
	}

	.woocommerce-order-details {
		margin-bottom: 20px;
	}

	.woocommerce-customer-details {

		address {
			padding: 0;
			border: none;
		}
	}
}

.woocommerce-page {

	.woocommerce-billing-fields::before {
		display: none;
	}

	.woocommerce-billing-fields::after {
		display: none;
	}
}

.select2-dropdown {
	color: var(--fc-dark);
	background: var(--bg-secondary);
	border: 1px solid var(--fc-dark) !important;
	border-top: none !important;
	border-radius: 10px;
}

.select2-search {
	border-top: none !important;

	&__field {
		border-color: #d9d9d9;
		border-radius: 5px;
	}
}
